<!--
Student's Names: Manuel Lopez, Kinen Ocitti
File Name: about.ejs
Date: 2023-04-16
-->
<div class="d-flex flex-row justify-content-center">
    <div class="m-4 ">
        <img width="200px" height="200px" src="https://media.licdn.com/dms/image/D4E35AQHtufelqjd7gw/profile-framedphoto-shrink_200_200/0/1623094138884?e=1682294400&v=beta&t=FrVQpMQcdeq-f3Js5Nj3X7iBVxhKOkArSMbxAbOORKk"/>
        <h3>Manuel Lopez</h3>
        <p>I form the dominican republic and learn to code <br/>in highshcool and started using it as a hobby <br/>and more intresed as the time comes. Im always lookig to improve my skills <br/>and build projects</p>
        <ul>
            <li>Backend developer</li>
            <li>Creating emulators for hobby</li>
            <li>Responsive web-desing</li>
        </ul>
    </div>
    <div class="m-4 ml-5">
        <img width="200px" height="200px" src="https://media.licdn.com/dms/image/C4D03AQETDD4eletqtw/profile-displayphoto-shrink_400_400/0/1659554360601?e=1687392000&v=beta&t=i8PQ27wueF6-FGWdIkysuWjBKJsbVYhqKzivXhJvGS4"/>
        <h3>Kinen Ocitti</h3>
        <p>I am from Uganda and I learnt to code at Durham College. Over time I learnt <br/>the importance of data and how it can help us develop. <br/>I was able to understand trends patterns from large amouts of collected data.</p>
        <ul>
            <li>Data and Business Analyst</li>
            <li>Data Visulization Tricks</li>
            <li>Data Manipulation</li>
        </ul>
    </div>
</div>
