<!--
Student's Names: Manuel Lopez, Kinen Ocitti
File Name: edit.ejs
Date: 2023-04-16
-->
<h1 id="welcome"><i class="fa-solid fa-address-book"></i> WEBD6201 Demo Edit Contact</h1>
<div id="messageArea"></div>
<div class="row justify-content-lg-center g-3">
  <form method="get" id="editForm" name="editForm" class="col-lg-6 col-md-10 col-sm-10">
    <div class="input-group mb-3">
      <span class="input-group-text">First Name</span>
      <input type="text" class="form-control" id="firstName" name="fullName" placeholder="e.g. John Doe">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Last Name</span>
      <input type="text" class="form-control" id="lastName" name="contactNumber" placeholder="e.g. 6471234567">
    </div>
    <button type="submit" class="btn btn-primary" id="editButton"><i class="fas fa-edit fa-lg"></i> Edit</button>
    <button type="reset" class="btn btn-warning" id="resetButton"><i class="fas fa-undo fa-lg"></i> Cancel</button>
  </form>
</div>