<!--
Student's Names: Manuel Lopez, Kinen Ocitti
File Name: home.ejs
Date: 2023-04-16
-->
<h1 id="welcome"> Manuel Lopez And Kinen Ocitti </h1>
<p>Creating sclable applications focused on clients needs and user satisfaction  </p>
<button id="RandomButton" class="btn btn-primary">Check our About Us Page</button>