<!--
Student's Names: Manuel Lopez, Kinen Ocitti
File Name: projects.ejs
Date: 2023-04-16
-->
<ul>
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
            <h4 class="card-title">Name: </h4><h5 class="card-subtitle mb-2 text-muted">MICP - SIM</h5>
            <div>
                <ul>
                    <li>Microprecessor 8085 simulator</li>
                    <li>WebSocket connection with front-end to send current state of microprocessor</li>
                    <li>Implemented syntax highlither for assembly language</li>
                </ul>
            </div>
        </div>
        <img src="https://d3i71xaburhd42.cloudfront.net/6e7581028f726c5a37b0ecae052f74566c8cf8fa/2-Figure1-1.png" width="200px"/>
    </li>
    
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
            <h4 class="card-title">Name: </h4><h5 class="card-subtitle mb-2 text-muted">Grade Sheet Application</h5>
            <div>
                <ul>
                    <li>Used Bash Script</li>
                    <li>Created an Application that Calcutated the GPA of the Student.</li>
                    <li>It also Calculated the Average Percentage both Semesters of the Student</li>
                </ul>
            </div>
        </div>
        <img src="https://media.geeksforgeeks.org/wp-content/uploads/20210617141433/bash.png" width="400px"/>
    </li>
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
        <h4 class="card-title">Name: </h4><h5 class="card-subtitle mb-2 text-muted">Cell Automata Visulaizer</h5>
            <div>
                <ul>
                    <li>Developed a websire to show and run 3 cell automatas</li>
                    <li>Implemented game of life </li>
                    <li>Implemented Brian's Brain</li>
                    <li>Implemented Langton's ant</li>
                </ul>
            </div>
        </div>
        <img src="https://www.researchgate.net/publication/324935995/figure/fig1/AS:626356454969350@1526346424764/A-cellular-automaton-consist-of-a-regular-grid-of-cells-each-containing-astate-chosen.png" width="200px"/>
    </li>
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
            <h4 class="card-title">Name: </h4><h5 class="card-subtitle mb-2 text-muted">Client and Salesperson Application</h5>
            <div>
                <ul>
                    <li>Used PHP, CSS, and SQL</li>
                    <li>Created an Application that Had an interface for both Clients and Salespeople.</li>
                    <li>Both, the Salespeople and Clients were required to Login.</li>
                </ul>
            </div>
        </div>
        <img src="https://www.dailysalesrecordapp.com/images/image-1.png" width="200">
    </li>

</ul> 
