<!--
Student's Names: Manuel Lopez, Kinen Ocitti
File Name: services.ejs
Date: 2023-04-16
-->
<ul>
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
            <h4 class="card-title" id="servicesName1"> Name of Skill:</h4><h5 class="card-subtitle mb-2 text-muted" id="servicesName1-1">Backend-Development</h5>
            <div>
                <ul>
                    <li id="serviesDesc1-1">Created REST and Graphql API's</li>
                    <li id="serviesDesc1-2">Created Realtime application with websockets</li>
                    <li id="serviesDesc1-3">Created Autherntication services with a reols model</li>
                </ul>
            </div>
        </div>
        <img src="https://www.guru99.com/images/1/091318_0717_WhatisBacke1.png" width="200px"/>
    </li>
    
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
            <h4 class="card-title" id="servicesName2">Name of Skill:</h4><h5 class="card-subtitle mb-2 text-muted" id="servicesName2-1"> Wbd Desing</h5>
            <div>
                <ul>
                    <li id="serviesDesc2-1">Proficient in : PHP, HTML, CSS, and Javascript</li>
                    <li id="serviesDesc2-2">Creating responsive web desing</li>
                </ul>
            </div>
        </div>
        <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2021/10/responsive-web-design-1-61f01c4b64c5f-sej.png" width="300px"/>
    </li>
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
        <h4 class="card-title" id="servicesName3">Name of Skill:</h4><h5 class="card-subtitle mb-2 text-muted" id="servicesName3-1"></h5>
            <div>
                <ul>
                    <li id="serviesDesc3-1">Data Analytics and Management</li>
                    <li id="serviesDesc3-2">Great at Developing Statistical Modelling and Visualization.</li>
                    <li id="serviesDesc3-2">Implemented game of lifex.</li>
                    <li id="serviesDesc3-2">Implemented Langton's ant.</li>
                </ul>
            </div>
        </div>
        <img src="https://www.divectors.com/wp-content/uploads/2020/04/data_management-02-1.jpg" width="300px"/>
    </li>
    <li class="card d-flex flex-row p-2 m-5" style="width: 1000px;">
        <div class="card-body">
            <h4 class="card-title" id="servicesName4">Name of skill</h4><h5 class="card-subtitle mb-2 text-muted" id="servicesName4-1">Mobile development</h5>
            <div>
                <ul>
                    <li id="serviesDesc4-1">Proficient in react native</li>
                    <li id="serviesDesc4-2">Responsive Desing</li>
                    <li id="servicesDesc4-3">Implemented apropiate authentication with tokens and api key</li>
                </ul>
            </div>
        </div>
        <img src="https://www.dailysalesrecordapp.com/images/image-1.png" width="200">
    </li>

</ul> 
