<!--
Student's Names: Manuel Lopez, Kinen Ocitti
File Name: footer.ejs
Date: 2023-04-16
-->
<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
        <h3>&copy; Copyright 2023.</h3>
    </div>
</nav>